.vfrc-header > :nth-child(2) {
  visibility: hidden;
  position: relative;
}

.vfrc-header::before {
  content: "MindentMent AI";
  visibility: visible;
  position: absolute;
  top: 40px;
  right: 10px;
  font-size: 20px;
  color: rgb(0, 159, 227);
}

.vfrc-launcher {
    background-image: url('https://www.mindentment.hu/fogaszat/uploads_opt/drbarat/dr-barat.png') !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-color: transparent !important;
    width: 100px !important;
    height: 100px !important;
    display: block !important;
}

.vfrc-header {
    background-color: white !important;
    border-bottom: 3px solid rgb(0, 159, 227) !important;
    height: 80px !important;
    display: flex !important;
    align-items: center !important;
}

.vfrc-header .vfrc-avatar {
    background-image: url('https://www.mindentment.hu/fogaszat/uploads_opt/images/logo-mdm-nagy.png') !important;
    background-size: contain !important;
    background-position: center !important;
    background-color: transparent !important;
    background-repeat: no-repeat !important;
    width: 140px !important;
    height: 140px !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.vfrc-chat {
    border: 3px solid rgb(0, 159, 227) !important;
    border-radius: 10px !important;
    box-sizing: border-box !important;
    background-color: rgb(244, 244, 244) !important;
}

.voiceflow-chat::-webkit-scrollbar-track {
    background: rgb(244, 244, 244) !important;
}

.vfrc-avatar:not(.vfrc-system-response .vfrc-avatar):not(.vfrc-header .vfrc-avatar) {
    background-image: url('https://www.mindentment.hu/fogaszat/uploads_opt/drbarat/dr-barat.png') !important;
    background-size: 190px !important;
    background-repeat: no-repeat !important;
    background-position: center top !important;
    border-radius: 0 !important;
    width: 250px !important;
    height: 120px !important;
}

.vfrc-system-response .vfrc-avatar {
    background-image: url('https://www.mindentment.hu/fogaszat/uploads_opt/drbarat/dr-barat.png') !important;
    background-size: 50px !important;
    background-repeat: no-repeat !important;
    background-position: center top !important;
    border-radius: 0 !important;
}

.vfrc-icon {
    color: rgb(0, 159, 227) !important;
    margin-top: -40px !important;
    margin-right: -25px !important;
}

.vfrc-assistant-info--title {
    visibility: hidden;
    position: relative;
}

.vfrc-assistant-info--title::before {
    content: "Dr. Barát";
    visibility: visible;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(0, 159, 227);
    font-size: 20px;
}

.vfrc-system-response .vfrc-message {
    background-color: rgb(0, 159, 227) !important;
    color: #ffffff !important;
}

.vfrc-user-response .vfrc-message {
    background-color: #ffffff !important;
    color: #000000 !important;
}
